/* source:  https://forum.freecodecamp.org/t/my-wrapper-div-in-react-doesnt-fill-window/388844/3*/
html, body, #root,
.wrapper {
  height:100%;
}
/* this leaves whitespace over it */
	/* height:50%; */
/* this breaks it */
	/* height:200%; */


/**/
.wrapper{
	padding-top:100px;
	min-height:100%;
  background:rgb(239, 9, 9); 
  /* background:rgba(15, 246, 3, 0.853);  */
	/* background:lightblue;  */
	
} 

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bg-color1: lightblue;
  background-color: #bd61fb8d;

} */

.App-main-screen {
  background-color: #13fe32d8;
}

.App-icon-bg-color {
  background-color: #bd61fb8d;
}

/* when I apply this to a wrapper div that encapsulates the FullscreenComponent, the 
FullscreenComponent no longer takes up the full screen. I had achieved full screen
filling with  the html body root wrapper. The solution is simply to remove
the width specifications from App-bg class*/
.App-bg {
  /* width: 80vw; */
  /* too large */
    /* width: 90vw;  */
  /* too small */
    /* width: 70vw;  */
  /* height: 70vh; */
  background-color: #61fb94c0
}

.App-view2-bg {
  width: 80vw;
  /* too large */
    /* width: 90vw;  */
  /* too small */
    /* width: 70vw;  */
  height: 100vh;
  background-color: #61fb94c0
}

.Threejs-bg-color {
  background-color: #2289e3c0;
  height: 100vh;
  background-size: cover;
}


.Threejs-bg-outerspace {
  background-color: #022c85;
  /* height: 100vh; */
  height: 50vh;
  width: 50vw;
  /* background-size: cover; */
}


/* .component-window-size-1{
   width: 80vw;
  height: 9vh;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
