#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --bg-color1: lightblue;
  /* background-color: #bd61fb8d; */

}

.App-main-screen {
  background-color: #13fe32d8;
}

.App-icon-bg-color {
  background-color: #bd61fb8d;
}

.App-bg-color {
  background-color: #61fb94c0;
}

.Threejs-bg-color {
  background-color: #2289e3c0;
}


.component-window-size-1{
  /* width: 90vw; */
  width: 10vw;
  height: 9vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
